<script setup>
import { ref } from "vue";
import { Field, CellGroup, Button, showToast } from "vant";
import { registerApi } from "@/api";
import { isvalidPhone } from "@/utils/validate";
import { useRouter } from "vue-router";

const router = useRouter();
const phoneNumber = ref("");
const password = ref("");
const againPassword = ref("");
const btnLoading = ref(false);

const signup = async () => {
  if (!phoneNumber.value) {
    showToast("请输入CTP账户");
    return;
  }
  if (!password.value) {
    showToast("请输入密码");
    return;
  }
  if (!againPassword.value) {
    showToast("请确认密码");
    return;
  }
  if (password.value !== againPassword.value) {
    showToast("两次密码输入不一致");
    return;
  }

  try {
    btnLoading.value = true;
    await registerApi({
      phone: phoneNumber.value,
      password: password.value
    });

    showToast("注册成功");
    setTimeout(() => {
      router.replace("/login");
    }, 1000);
  } finally {
    btnLoading.value = false;
  }
};
</script>

<template>
  <div class="signUpPage">
    <img class="indexBanner" src="../../assets/imgs/indexBanner.png" alt="" srcset="" />
    <div class="nav">
      <p>用户注册</p>
    </div>
    <div class="form">
      <CellGroup inset>
        <Field
          v-model="phoneNumber"
          label="CTP账户"
          placeholder="请输入CTP账户"
          clearable
          maxlength="11"
          type="number"
        />
        <Field
          v-model="password"
          label="密码"
          placeholder="请输入密码"
          clearable
          maxlength="20"
          type="password"
        />
        <Field
          v-model="againPassword"
          label="确认密砪"
          placeholder="请确认密码"
          clearable
          maxlength="20"
          type="password"
        />
      </CellGroup>
    </div>
    <div class="bottomButton">
      <div class="signupBtn">
        <router-link to="/login" replace>已有账号? 去登录</router-link>
      </div>
      <div>
        <Button :loading="btnLoading" type="primary" block @click="signup"> 注册 </Button>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.signUpPage {
  padding-bottom: 50px;

  .indexBanner {
    width: 100%;
    height: 100%;
  }
  .nav {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5vh;
    font-size: 30px;
  }
  .form {
    padding-bottom: 20px;
  }
  .bottomButton {
    padding: 0 20px;
    .signupBtn {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      a {
        color: #999;
      }
    }
  }
}
</style>
```
