<script setup>
import Check from "@/components/Check/index.vue";
import { onMounted } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();

onMounted(() => {
  localStorage.removeItem("token");
  setTimeout(() => {
    router.replace({ path: "/login" });
  }, 1300);
});
</script>

<template>
  <Check></Check>
</template>
