<script setup>
import { ref, onMounted } from "vue";
import { Cell, CellGroup } from "vant";
import { getQuestionListApi } from "@/api";
import { useRouter } from "vue-router";

const router = useRouter();
const list = ref([]);

onMounted(() => {
  getQuestionListApi().then(res => {
    list.value = res.data;
  });
});

const toDetails = info => {
  const { id, title } = info;
  router.push({
    path: `/question/${id}`,
    query: { title }
  });
};
</script>

<template>
  <div class="indexPage">
    <div class="questionnaireBody">
      <p class="title">问卷列表</p>
      <div class="questionnaireList">
        <CellGroup>
          <Cell
            v-for="item in list"
            :key="item.id"
            :title="item.title"
            :value="item.create_time"
            @click="() => toDetails(item)"
          />
        </CellGroup>
      </div>
    </div>
  </div>
</template>

<style scoped lang="less">
.indexPage {
  .my-swipe {
    .indexBanner {
      height: 100%;
      width: 100%;
    }
  }

  .questionnaireBody {
    padding-bottom: 20px;
    .title {
      font-size: 18px;
      padding: 20px;
      padding-bottom: 15px;
    }
  }
}
</style>
