<script setup>
import { ref } from "vue";
import { Button } from "vant";
defineProps({
  msg: String
});
const count = ref(0);
</script>

<template>
  <h1>{{ msg }}</h1>

  <div class="card">
    <button type="button" @click="count++">count is {{ count }}</button>
    <Button @click="count++">count is {{ count }}</Button>
    <p>
      Edit
      <code>components/HelloWorld.vue</code> to test HMR
    </p>
  </div>
</template>

<style scoped lang="less">
.read-the-docs {
  color: #888;
}
</style>
