<script setup>
import { ref, onMounted, onBeforeUpdate, nextTick, toRaw } from "vue";
import { useRoute, useRouter } from "vue-router";
import { getQuestionDetailApi, submitAnswerApi } from "@/api";
import { isVideo } from "@/utils/validate";
import {
  Swipe,
  SwipeItem,
  Button,
  RadioGroup,
  Radio,
  Cell,
  CellGroup,
  Checkbox,
  CheckboxGroup,
  showToast,
  showImagePreview,
  NavBar
} from "vant";
const route = useRoute();
const router = useRouter();
const { id } = route.params;

const questionSwipe = ref(null);
const checkboxRefs = ref([]);

const questionList = ref([]);
const answerList = ref([]);
const navTitle = ref(route.query.title || "问卷调查");

onMounted(() => {
  getQuestionDetailApi({ id }).then(res => {
    questionList.value = res.data;
    answerList.value = res.data.map(item => ({
      question_id: item.id,
      answer_id: null,
      answer_ids: []
    }));
  });
});

const submitValidate = () => {
  const answer = toRaw(answerList.value);
  const index = answer.findIndex(item => {
    const type = questionList.value.find(o => o.id === item.question_id).type;
    if (type === 0) return !item.answer_id;
    if (type === 1) return !item.answer_ids.length;
  });
  if (index === -1) return true;
  const toastMsg = `第${index + 1}题未选择答案`;
  showToast(toastMsg);
  return false;
};

const submit = async () => {
  if (!submitValidate()) return;
  const answer = answerList.value.map(v => {
    const item = JSON.parse(JSON.stringify(v));
    const type = questionList.value.find(o => o.id === item.question_id).type;
    if (type === 1 && item.answer_ids.length) item.answer_id = item.answer_ids?.join(",") ?? "";
    item.answer_id && (item.answer_id = String(item.answer_id));
    delete item.answer_ids;
    return item;
  });
  await submitAnswerApi({ id, answer });
  router.replace({ path: "/check" });
};

onBeforeUpdate(() => {
  checkboxRefs.value = [];
});

const toggle = index => {
  nextTick(() => {
    checkboxRefs.value[index].toggle();
  });
};
const previewImage = src => {
  showImagePreview([src]);
};

const nextQuestion = () => {
  questionSwipe.value.next();
};
const previousQuestion = () => {
  questionSwipe.value.prev();
};
</script>
<template>
  <div class="questionPage">
    <NavBar :title="navTitle" left-arrow @click-left="router.back()" />
    <Swipe
      class="questionSwipe"
      :show-indicators="false"
      :touchable="false"
      :loop="false"
      ref="questionSwipe"
    >
      <SwipeItem class="questionSwipeItem" v-for="(item, index) in questionList" :key="item.id">
        <div>
          <p class="questionTitle">
            {{ index + 1 }}. {{ item.title }} ({{ item.type === 0 ? "单选题" : "多选题" }})
          </p>
          <div v-if="item.img" class="questionImgBody">
            <video
              v-if="isVideo(item.img)"
              :src="item.img"
              controls="controls"
              class="questionVideo"
            ></video>

            <img v-else :src="item.img" class="questionImg" @click="() => previewImage(item.img)" />
          </div>
          <!-- 单选 -->
          <RadioGroup v-if="item.type === 0" v-model="answerList[index].answer_id">
            <CellGroup inset>
              <Cell
                v-for="o in item.option_arr"
                :key="o.id"
                :title="o.option"
                @click="answerList[index].answer_id = o.id"
                clickable
              >
                <template #right-icon>
                  <radio :name="o.id" />
                </template>
              </Cell>
            </CellGroup>
          </RadioGroup>
          <!-- 多选 -->
          <CheckboxGroup v-if="item.type === 1" v-model="answerList[index].answer_ids">
            <CellGroup inset>
              <Cell
                v-for="(o, i) in item.option_arr"
                :key="o.id"
                :title="o.option"
                @click="toggle(o.id)"
                clickable
              >
                <template #right-icon>
                  <Checkbox :name="o.id" :ref="el => (checkboxRefs[o.id] = el)" @click.stop />
                </template>
              </Cell>
            </CellGroup>
          </CheckboxGroup>

          <p class="progress">{{ index + 1 }} / {{ questionList.length }}</p>

          <div>
            <div class="navBtn">
              <Button :disabled="index === 0" plain @click="previousQuestion"> 上一题 </Button>
              <Button :disabled="index >= questionList.length - 1" plain @click="nextQuestion">
                下一题
              </Button>
            </div>
            <div class="submitButtonBody">
              <Button
                class="submitButton"
                v-if="index === questionList.length - 1"
                @click="submit"
                type="primary"
                block
              >
                提交
              </Button>
            </div>
          </div>
        </div>
      </SwipeItem>
    </Swipe>
  </div>
</template>

<style scoped lang="less">
.questionPage {
  padding-bottom: 50px;

  .questionSwipe {
    .questionSwipeItem {
      width: 100%;
      height: 100%;

      .questionImgBody {
        padding-bottom: 20px;
        .questionVideo {
        }
        .questionImg {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }

      .questionTitle {
        padding: 20px;
        font-size: 16px;
      }
      .progress {
        font-size: 13px;
        text-align: center;
        color: #999;
        margin: 15px 0;
      }
      .navBtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
      }
      .submitButtonBody {
        padding: 0 20px;
        .submitButton {
          margin-top: 20px;
        }
      }
    }
  }
}
</style>
