<script setup>
import { ref } from "vue";
import { Field, CellGroup, Button, showToast } from "vant";
import { loginApi } from "@/api";
import { isvalidPhone } from "@/utils/validate";
import { useRouter } from "vue-router";

const router = useRouter();
const phoneNumber = ref("");
const password = ref("");
const btnLoading = ref(false);

const login = async () => {
  if (!phoneNumber.value) {
    showToast("请输入CTP账户");
    return;
  }
  if (!password.value) {
    showToast("请输入密码");
    return;
  }

  try {
    btnLoading.value = true;
    await loginApi({
      phone: phoneNumber.value,
      password: password.value
    });
    router.replace("/");
  } finally {
    btnLoading.value = false;
  }
};
</script>

<template>
  <div class="loginPage">
    <img class="indexBanner" src="../../assets/imgs/indexBanner.png" alt="" srcset="" />
    <div class="nav">
      <p>用户登录</p>
    </div>
    <div class="form">
      <CellGroup inset>
        <Field
          v-model="phoneNumber"
          label="CTP账户"
          placeholder="请输入CTP账户"
          clearable
          maxlength="11"
          type="number"
        />
        <Field
          v-model="password"
          label="密码"
          placeholder="请输入密码"
          clearable
          maxlength="20"
          type="password"
        />
      </CellGroup>
    </div>
    <div class="bottomButton">
      <div class="signupBtn">
        <router-link to="/signup">没有账号？去注册</router-link>
      </div>
      <Button :loading="btnLoading" type="primary" block @click="login"> 登录 </Button>
    </div>
  </div>
</template>

<style lang="less" scoped>
.loginPage {
  padding-bottom: 50px;
  .indexBanner {
    width: 100%;
    height: 100%;
  }
  .nav {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5vh;
    font-size: 30px;
  }
  .form {
    padding-bottom: 20px;
  }
  .bottomButton {
    padding: 0 20px;
    .signupBtn {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      a {
        color: #999;
      }
    }
  }
}
</style>
```
